body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
}

h1 {
    font-size: 40px;
}

.buttons button {
    padding: 15px 25px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover {
    background-color: white;
    color: black;
}

.result {
    margin-top: 30px;
}
